body {
    overflow: hidden;
    position: relative;
    width:100%;
    height:100%;
    background: url("../img/beiJing.jpg") no-repeat;
    background-size:cover;
}

#data {
    position: relative;
    width: 100%;
    height: 100%;
    float: left;
}



#c1 {
    height: 100px;
    width: 100px;
    float: left;
}

#c1 {
    height: 120px;
    width: 125px;
    float: left;
}

#c1_1 {
    height: 120px;
    width: 125px;
    float: left;
}

#c1_2 {
    height: 120px;
    width: 125px;
    float: left;
}

#circle {
    height: 250px;
    width: 400px;
    position: absolute;
    right: 0px;
    top: 107px;
}

#c2 {
    position: relative;
    float: left;
    height: 100px;
    width: 100%;
}

#c2_2 {
    position: relative;
    float: left;
    height: 100px;
    /*width: 420px;*/
    width: 100%;
}

#c3 {
    height: 100px;
    width: 25%;
    float: left;
}

#c3_1 {
    height: 100px;
    width: 25%;
    float: left;
}
#c3_2 {
    height: 100px;
    width: 25%;
    float: left;
}
#c3_3 {
    height: 100px;
    width: 25%;
    float: left;
}


#c4 {
    position: absolute;
    margin-left: 10px;
    bottom: 20px;
    height: 100px;
    width: 680px;
    float: left;
}

#c4_2 {
    position: absolute;
    margin-right: 10px;
    right: 0px;
    bottom: 20px;
    height: 100px;
    width: 680px;
    float: left;
}

#c5 {
    position: relative;
    right: 0px;
    height: 80px;
    width: 500px;
}

#c5_2 {
    position: relative;
    right: 0px;
    height: 80px;
    width: 500px;
}
#c5_3 {
    position: relative;
    right: 0px;
    height: 80px;
    width: 500px;
}
#r1 {
    position: relative;
    height: 250px;
    width: 100%;
    float: left;
}

#r2 {
    position: relative;
    height: 30%;
    width: 100%;
    float: left;
}

#r3 {
    position: relative;
    height: 30%;
    width: 100%;
    float: left;
}

#top-left {
    position: relative;
    width: 30%;
    float: left;
}

#percent {
    width: 100%;
    height: 30%;
    position: relative;
    float: left;
}

#p1 {
    font-size: 32px;
    color: #2be8e9;
}
#p2 {
    font-size: 32px;
    color: #efc172;
}
#p3 {
    font-size: 32px;
    color: #fb7f75;
}

#txt {
    color: #c7ccd0;
}

#t1 {
    height: 70%;
    width: 100%;
    float: left;
}
#t2 {
    width: 30%;
    position: absolute;
    right: 0px;
    float: left;
}

#map {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    color: #8b56ff;
    height: 250px;
    width: 40%;
    float: left;
}

#com1 {
    position: relative;
    /*bottom: 0px;*/
    height: 33%;
    width: 32%;
    float: left;
}

#com2 {
    position: relative;
    height: 33%;
    width: 36%;
    float: left;
}

#com3 {
    position: absolute;
    right: 0px;
    height: 33%;
    width: 32%;
    float: left;
}

#t3 {
    position: relative;
    width: 100%;
    height: 50%;
    float: left;
}

#circle4 {
    position: relative;
    height: 50%;
    width: 100%;
    float: left;
}

