body {
    overflow: hidden;
    position: fixed;
    width:100%;
    height:100%;
    background: url("img/beiJing.jpg") no-repeat;
    background-size:cover;
}

#data {
    width: 100%;
    height: 100%;
    float: left;
}

#c1 {
    height: 250px;
    width: 250px;
    float: left;
}
#c2 {
    height: 150px;
    width: 500px;
    float: left;
}
#c3 {
    height: 300px;
    width: 300px;
    float: left;
}

#c4 {
    height: 300px;
    width: 700px;
}

#c5 {
    height: 300px;
    width: 500px;
}